.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-banner {
  background-color: #666699;
  min-height: 10vh;
  font-size: 8vh;
  align-items: left;
  justify-content: left;
  color: white;
  flex-direction: column;
  text-align: left;
}

.App-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}

.App-box>div {
  flex: 1;
  font-size:xx-large;
}
.exhibit-button {
  height: 50px;
  width: fit-content;
  font-size: xx-large;
}

.App-exhibit {
  border-style: double;
}